/* GLOBAL SETTING */

/* Fonts */

* {
  font-family: 'JetBrainsMono Nerd Font' !important;
}

/*------------------------------------------------*/
/* Background Color */

@media (prefers-color-scheme: dark) {
#nav-bar,
#navigator-toolbox,
#sidebar-box,
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
#browser,
#appcontent,
#sidebar-select-box,
.browser-sidebar2,
tab.tabbrowser-tab *{
      color: var(--toolbox-non-lwt-textcolor);

  will-change: background-color;
  transition: background-color var(--inactive-window-transition);

  &:-moz-window-inactive {
    background-color: var(--toolbox-non-lwt-bgcolor-inactive);
    color: var(--toolbox-non-lwt-textcolor-inactive);
  }

  :root[customizing] & {
    border-bottom-style: none;
  }

  &:-moz-lwtheme {
    background-image: var(--lwt-additional-images);
    background-repeat: var(--lwt-background-tiling);
    background-position: var(--lwt-background-alignment);
    background-color: var(--lwt-accent-color);
    color: inherit;

    &:-moz-window-inactive {
      background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
    }

}
  
}
@media (prefers-color-scheme: light)  {
#nav-bar,
#navigator-toolbox,
#sidebar-box,
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
#browser,
#appcontent,
#sidebar-select-box,
.browser-sidebar2,
tab.tabbrowser-tab *{
  background-color: #e6e6e6 !important;
}
}

#PersonalToolbar  {
  background: transparent !important;
}

/*============================================================================================*/
/* NAV BAR */

/* Auto hide icons on the Nav Bar */
#nav-bar > #nav-bar-customization-target *:not(#urlbar-container):not(#urlbar-container *),
#PanelUI-button {
    opacity: 0 !important;
    transition: opacity 0.7s ease !important;
}

#nav-bar:hover > #nav-bar-customization-target *:not(#urlbar-container):not(#urlbar-container *),
#nav-bar:hover > #PanelUI-button  {
    opacity: 1 !important;
    transition: opacity 0.3s ease !important;
}

/*------------------------------------------------*/
/* Remove line between website content and top bar */

#navigator-toolbox {
  border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
    var(--firefoxcss-top-bar-border-bottom-color) !important;
}

/*------------------------------------------------*/
/* Remove the 3 dots from Alt Key */

#titlebar #toolbar-menubar .titlebar-buttonbox-container{
  display: none !important;
}

/*------------------------------------------------*/
/* Move menu buttons to the left side */

#nav-bar #PanelUI-button #PanelUI-menu-button {
  padding-right: 2px !important;
  padding-left: 4px !important;
}

#nav-bar #PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
		order: 0 !important;
}

toolbar:not([customizing]) > #nav-bar-overflow-button {
  -moz-box-ordinal-group: 1 !important;
	order: 1 !important;
}

toolbar:not([customizing]) > #nav-bar-customization-target {
  -moz-box-ordinal-group: 2 !important;
		order: 2 !important;
}

#appMenu-popup {
  margin-inline: -244px !important;
}

#widget-overflow {
	margin-inline: -320px !important;
  }  

/*------------------------------------------------*/
/* Macos Style window buttons */

:root {
  --firefoxcss-control-buttons-margin: 95px;
  --toolbar-field-focus-border-color: #f5e0dc !important;
}

#navigator-toolbox #nav-bar {
  padding-right: calc(var(--firefoxcss-control-buttons-margin) - 10px) !important;
}

#navigator-toolbox:not([inFullscreen])
  #TabsToolbar
  .titlebar-buttonbox-container {
  visibility: visible !important;
  display: flex !important;
  position: absolute !important;
  top: 2px !important;
  left: unset !important;
  right: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 2px !important;
  padding-right: 8px  !important;
  padding-left: 2px !important; 
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-button {
	width: 14px !important;
  min-width: 14px !important;
  min-height: 14px !important;
  height: 14px !important;
}

#navigator-toolbox[inFullscreen] #TabsToolbar .titlebar-buttonbox-container{
	padding-top:4px !important;
	padding-bottom: 4px !important;
	padding-right: 8px  !important;
	padding-left: 4px  !important;
	margin: 0 !important;
	align-items: center !important;
}

:root:-moz-window-inactive:not([customizing])
  :is(.titlebar-buttonbox)
  > toolbarbutton:not(:hover) {
  opacity: 0.65 !important;
}

:is(.titlebar-buttonbox) .toolbarbutton-icon {
  opacity: 1 !important;
  appearance: none !important;
}

#TabsToolbar .titlebar-button > .toolbarbutton-icon {
  width: 14px !important;
  min-width: 14px !important;
  min-height: 14px !important;
  height: 14px !important;
  stroke: none !important;
}

#TabsToolbar .titlebar-buttonbox {
  margin-right: 2px !important;
  margin-left: 0px !important;
}

#TabsToolbar .titlebar-button {
  background-color: transparent !important;
  appearance: none !important;
  padding: 0px !important;
  margin: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#TabsToolbar .titlebar-close {
  appearance: none !important;
  -moz-box-ordinal-group: 2 !important;
	order:2 !important;
}

#TabsToolbar .titlebar-min {
  appearance: none !important;
  -moz-box-ordinal-group: 0 !important;
	order:0 !important;
}

#TabsToolbar .titlebar-max,
#TabsToolbar .titlebar-restore {
  appearance: none !important;
  -moz-box-ordinal-group: 1 !important;
	order:1!important;
}

#TabsToolbar .titlebar-buttonbox-container:not(:hover) .titlebar-buttonbox .titlebar-button {
  background-color: hsla(0, 0%, 65%, 1)  !important;
  transition:  background-color 400ms ease 400ms  !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
  list-style-image: none  !important;
   margin: 0px !important;
  padding: 0px !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-buttonbox .titlebar-button {
  border-radius: 50% !important;
  margin-left: 8px !important;
  position: relative !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-min{
  background-color: #fac536 !important;
	overflow: hidden !important;
  transition:  background-color 200ms ease !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-min::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 2px;
	opacity: 0;
	background:  rgba(0, 0, 0, 0.6);
  border-radius: 2px;
	transition: 200ms;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-min:hover::before{
	opacity: 1;
	top: 50%;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-max,
#TabsToolbar .titlebar-buttonbox-container .titlebar-restore{
	background: #39ea49 !important;
	overflow: hidden !important;
   transition:  background-color 200ms ease !important;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-max::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
	height: 55%;
	opacity: 0;
	background:  rgba(0, 0, 0, 0.6);
  border-radius: 2px;
	transition: 200ms;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-max::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 3px;
	height: 80%;
	opacity: 0;
	background: #39ea49;
	transition: 200ms;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-max:hover::before, 
#TabsToolbar .titlebar-buttonbox-container .titlebar-max:hover::after{
	opacity: 1;
	top: 50%;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-close{
	background: #f25056 !important;
	overflow: hidden !important;
   transition:  background-color 200ms ease !important;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-close::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 2px;
	height: 9px;
	opacity: 0;
	background:  rgba(0, 0, 0, 0.65);
  border-radius: 1px;
	transition: 200ms;
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-close::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 2px;
	height: 9px;
  opacity: 0;
	background: rgba(0, 0, 0, 0.65);
   border-radius: 1px;
	transition: 200ms;
 
}
#TabsToolbar .titlebar-buttonbox-container .titlebar-close:hover::before, 
#TabsToolbar .titlebar-buttonbox-container .titlebar-close:hover::after{
	opacity: 1;
	top: 50%;
}

  #TabsToolbar .titlebar-buttonbox-container .titlebar-restore:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
	transition:200ms;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-restore:after{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 4px;
	opacity: 0;
	background: #39ea49;
   border-radius: 0px;
	transition: 200ms;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-restore:hover::before, 
#TabsToolbar .titlebar-buttonbox-container .titlebar-restore:hover::after{
	opacity: 1;
	top: 50%;
}

#navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
  -moz-box-ordinal-group: 1 !important;
}
#navigator-toolbox[inFullscreen] #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
  -moz-box-ordinal-group: 1 !important;
}

@media only screen and (max-width: 370px) {
  #main-window #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
		position: relative !important;
		padding-top: 4px !important;
		padding-bottom: 2px !important;
		padding-right: 8px  !important;
		padding-left: 2px !important; 
  }
  
  #main-window #navigator-toolbox:not([inFullscreen]) #nav-bar {
    padding-right: initial !important;
}
}

/*------------------------------------------------*/
/* Make Tab Bar join with URL Bar on the left */

:root {
    --tab-border-radius: 3px !important;
    --NavbarWidth: 2;
    --TabsHeight: 36;
    --TabsBorder: 8;
    --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder))
}

#nav-bar {
    margin-top:calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px)!important;
    height: calc((var(--TabsHeight) * 1px + var(--TabsBorder) * 1px) + 0px)
}



#nav-bar {
    margin-left: 35px !important;
}

#urlbar-container {
    min-width: 0px !important;
    flex: auto !important;
}


@media screen and (max-width:100px) {
    #TabsToolbar {
        margin-right: 0 !important;
    }
    #nav-bar {
        margin-left: 0 !important;
    }
}

/*------------------------------------------------*/
/* Make active tab to hidden tab */

tab:not([selected="true"]), 
[part="overflow-start-indicator"], 
[part="overflow-end-indicator"], 
#scrollbutton-up, 
#scrollbutton-down, 
#TabsToolbar .titlebar-spacer, 
.tabbrowser-tab[selected="true"] .tab-text, 
.tabbrowser-tab[selected="true"] .tab-close-button, 
.tab-line, 
.tab-throbber {
    display: none !important;
}

.tabbrowser-tab[selected="true"] {
    min-width: 37px !important;
    max-width: 37px !important;
}

tab, 
.tabbrowser-tab {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.tab-background {
    outline: none !important;
    box-shadow: none !important;
}

.tab-icon-image  { 
    height: 32px !important; 
    width: 32px !important; 
    border-radius: 10px !important;
 }

@media (prefers-color-scheme: dark) {
  .tab-icon-image {
    content: url('dark.png') !important;
  }
}

@media (prefers-color-scheme: light) {
  .tab-icon-image {
    content: url('light.png') !important;
  }
}


/*------------------------------------------------*/
/* Hide all buttons in active tab context menu except for split tab and extensions */

#main-window #context_openANewTab,
#main-window #context_reloadTab,
#main-window #context_toggleMuteTab,
#main-window #context_playTab,
#main-window #context_pinTab,
#main-window #context_duplicateTab,
#main-window #context_bookmarkTab,
#main-window #context_moveTabOptions,
#main-window #context_reopenInContainer,
#main-window #context_toggleToPrivateContainer,
#main-window #context_selectAllTabs,
#main-window #context_closeTab,
#main-window #context_closeTabOptions,
#main-window #context_undoCloseTab,
#context_MoveTabToOtherWorkspace,
#main-window #tabContextMenu menuseparator {
    display: none !important;
}



/*============================================================================================*/
/* EXTENSION */

/* Make extensions looks minimal */

#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-text::before {
    content: "• • •";
    font-size: 15px;
    visibility: visible !important;
    display: block;
    text-align: center;
}

#unified-extensions-panel #unified-extensions-view {
    width: 100% !important;
}

#unified-extensions-view{
    --uei-icon-size: 22px;
    --firefoxcss-number-of-extensions-in-a-row: 4;
}


#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents{
    display:none !important;
}

#unified-extensions-view .panel-subview-body {
    padding: 10px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
}



/*============================================================================================*/
/* URL BAR */

/* Make text in URL bar in the center */

#nav-bar {
    display: flex;
    justify-content: center;
}

#urlbar-container {
    flex: 1;
    max-width: 1000px;
    min-width: 200px;
    margin: auto !important;
}

#main-window #urlbar {
    z-index: 9999 !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    transition: width 0.2s ease, left 0.2s ease, margin-top 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
}

#main-window #urlbar[breakout][breakout-extend] {
    opacity: 0.97 !important;
    width: 100% !important;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20vh !important;
    transition: width 0.2s ease, left 0.2s ease, margin-top 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
}

#urlbar-background,
#urlbar-input-container {
    --toolbarbutton-border-radius: calc(var(--urlbar-min-height) / 2);
}

#urlbar-input-container {
    --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
}

#urlbar:not([focused]) #urlbar-input {
    text-align: center !important;
}

#urlbar:not([breakout][breakout-extend]) #urlbar-input {
    text-align: center !important;
}

/*------------------------------------------------*/
/* Change URL Bar background color */
@media (prefers-color-scheme: dark) {
  #urlbar-background {
    background-color: #1e1e2e !important;
  }
}

@media (prefers-color-scheme: light)  {
  #urlbar-background {
    background-color: #d6d6d6 !important;
  }
}

@media (prefers-color-scheme: dark) {
#urlbar-results > *[selected=""]  {
  background-color: #424242 !important;
}
}

@media (prefers-color-scheme: light)  {
#urlbar-results > *[selected=""]  {
  background-color: #e8e8e8 !important;
}
}


/*------------------------------------------------*/
/* Hide and Hover icons in URL Bar */

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #page-action-buttons
  .urlbar-page-action {
  opacity: 0;
  transition-delay: 500ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  > #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 500ms;
}

#page-action-buttons .urlbar-page-action,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#urlbar #identity-box.notSecureText #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
  color: #e36f6f !important;
}

#urlbar #identity-box.extensionPage #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"] {
  opacity: 1 !important;
  margin-inline-start: initial !important;
}

#urlbar-input-container .urlbar-input-box {
  padding-inline-start: 2px !important;
}

#identity-box:hover ~ .urlbar-input-box > #urlbar-input {
  mask-image: linear-gradient(to right, transparent, black 3ch) !important;
}

#page-action-buttons {
  padding-inline-start: 8px;
}

#page-action-buttons .urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}

#identity-box.chromeUI #identity-icon-box {
  opacity: 1 !important;
  margin-inline-start: initial;
}

#identity-box.chromeUI::after,
#identity-box.chromeUI:hover::after {
  opacity: 0 !important;
}

#page-action-buttons:not(:hover) #translations-button[translationsactive="true"]:not([open]) {
  visibility:collapse !important;
} 


/*------------------------------------------------*/
/* Create visual dots on both sides */
#identity-box::after,
#page-action-buttons::before {
  position: relative;
  content: "•••";
  pointer-events: none;
  transition: opacity 100ms ease;
  align-self: center;
  font-size: 0.7em;
}

#identity-box::after,
#page-action-buttons::before {
  opacity: 0.2;
}

#identity-box::after {
  transform: rotate(90deg);
  left: 4px;
}

#page-action-buttons::before {
  transform: rotate(-90deg);
  right: 4px;
}

#identity-box:hover::after,
#page-action-buttons:hover::before {
  opacity: 0.2 !important;
  transition: opacity 50ms ease;
  pointer-events: none;
}

#identity-box[pageproxystate="invalid"]::after,
#urlbar-input-container[pageproxystate="invalid"]
  > #page-action-buttons::before {
  opacity: 0 !important;
  transition: opacity 50ms ease;
}

/* Linux changes for visual dots */
@media (-moz-platform: linux) {
  #identity-box::after,
  #page-action-buttons::before {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="%23FFFFFF" width="11px" height="11px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
    transform: none;
    font-size: unset;
  }

  #page-action-buttons::before {
    right: 2px;
  }

  #identity-box::after {
    left: 2px;
  }
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#urlbar-label-box,
#urlbar-zoom-button {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#urlbar-zoom-button:hover {
  background-color: var(--firefoxcss-urlbar-zoom-button) !important;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 8px !important;
}

#urlbar-go-button,
#tracking-protection-icon-container
{
  display: none !important;
}



/*============================================================================================*/
/* BOOKMARK BAR */

/* Variables for toolbar & bookmark attributes */
:root {
    --uc-bm-height: 24px; 
    --uc-bm-padding: 6px; 
}

/* Style for Personal Toolbar */
#PersonalToolbar {
    position: relative !important;
    padding: 1px 6px !important;
}

/* Additional padding for touch density */
:root[uidensity="touch"] #PersonalToolbar {
    --uc-bm-padding: 6px;
}

/* Transform and delay transition of Personal Toolbar */
#PersonalToolbar:not([customizing]) {
    margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)) !important;
    transform: rotateX(90deg) !important;
    transform-origin: top !important;
    transition: transform 0.1s ease-in-out 0.6s !important;
    z-index: 2 !important;
}

/* Bookmark item padding and icon transition */
#PlacesToolbarItems > .bookmark-item {
    padding-block: var(--uc-bm-padding) !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
#PlacesToolbarItems > .bookmark-item .toolbarbutton-icon {
    transition: opacity 0.1s ease-in-out 0.4s !important;
    opacity: 0 !important;
}

/* Hover effect for toolbar and bookmark icon/text */
#navigator-toolbox:hover > #PersonalToolbar,
#navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-icon,
#navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
    transition-delay: 100ms !important;
    transform: rotateX(0) !important;
    opacity: 1 !important;
}

/* Bookmark item text transition */
#PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
    transition: opacity 0.1s ease-in-out 0.4s !important;
    opacity: 0 !important;
}

/* Fix the white line above the bookmarks bar when it's empty */
#personal-toolbar-empty {
  padding: 2px !important;
}

/*------------------------------------------------*/
/* Make it good in transparent bg */

@media (prefers-color-scheme: dark) {
#PlacesToolbarItems > * {
  background: #333333 !important; 
}

#PlacesToolbarItems > *:hover {
  background: #555555 !important;
}
}

@media (prefers-color-scheme: light)  {
#PlacesToolbarItems > * {
  background: #cccccc !important;
}

#PlacesToolbarItems > *:hover {
  background: #eeeeee !important;
}
}



/*============================================================================================*/
/* SIDE BAR */

/* Expand Side bar on hover */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --sidebar-width: 35px;
  --sidebar-hover-width: 512px;
  position: relative;
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  z-index: 1;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar {
  transition: min-width 100ms ease-in-out !important;
  min-width: var(--sidebar-width) !important;
  will-change: min-width;
  transition-delay: 0.25s !important;  /* Delay on hover off */
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover>#sidebar {
  min-width: var(--sidebar-hover-width) !important;
  transition-delay: 0.1s !important;  /* No delay on hover on */
}

#sidebar-box {
    opacity: 0.9;
}

/*------------------------------------------------*/
/* Hide Side bar header and line */

#sidebar-header,
#sidebar-splitter {
    display: none !important;
}

/*------------------------------------------------*/
/* Sidebar Border */

@media (prefers-color-scheme: dark) {
#sidebar-box #sidebar,
#sidebar-box #webextpanels-window {
    border-radius: 0 !important;
    margin: 0px 1px 0px 0px !important;
    border: 0px solid rgba(204, 204, 204, 0.3);
    transition: border 0.2s ease;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

#sidebar-box #sidebar:hover,
#sidebar-box #webextpanels-:hover {
    border: 1px solid rgba(204, 204, 204, 0.6);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}
}

@media (prefers-color-scheme: light) {
#sidebar-box #sidebar,
#sidebar-box #webextpanels-window  {
    border-radius: 0 !important;
    margin: 1px 1px 1px 1px !important;
    border: 1px solid rgba(51, 51, 51, 0.1);
    transition: border 0.3s ease;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

#sidebar-box #sidebar:hover,
#sidebar-box #webextpanels-window:hover {
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}
}


/*============================================================================================*/
/* MAIN BROWSER */

/* Browser Border */
/*
@media (prefers-color-scheme: dark) {
#appcontent browser {
    border-radius: 15px !important;
    margin: 15px 15px 15px 15px !important;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: border 0.3s ease;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

#appcontent browser:hover {
    border: 3px solid rgba(204, 204, 204, 0.6);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}
}

@media (prefers-color-scheme: light)  {
  #appcontent browser {
    border-radius: 15px !important;
    margin: 15px 15px 15px 15px !important;
    border: 3px solid rgba(51, 51, 51, 0.1);
    transition: border 0.3s ease;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

#appcontent browser:hover {
    border: 3px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

}

/*============================================================================================*/
/* FIND BAR */

/* CTRL+F Search Bar Border */

@media (prefers-color-scheme: dark) {
.browserContainer > findbar {
  border-radius: 15px !important;
  margin: 0px 15px 0px 15px !important;
  border: 1px solid rgba(204, 204, 204, 0.3) !important;
  transition: border 0.3s ease !important;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

.browserContainer > findbar:hover {
  border: 1px solid #ccc !important;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}
}

@media (prefers-color-scheme: light) {
.browserContainer > findbar {
  border-radius: 15px !important;
  margin: 0px 15px 0px 15px !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  transition: border 0.3s ease !important;
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

.browserContainer > findbar:hover {
  border: 1px solid rgba(51, 51, 51, 0.6) !important;
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}
}

/*------------------------------------------------*/
/* Text in the center */
.browserContainer > findbar .findbar-textbox  {
  border-radius: 10px !important;
  text-align: center  !important;
}

#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab .tab-label-container {
  --tab-label-mask-size: 1em !important;
}
/* ArcWTF - personalbar.css
 * https://github.com/KiKaraage/ArcWTF */

:root {
  --bookmark-block-padding: 6px !important;
  --bookmark-inline-padding: 6px !important;
  --bookmark-block-margin: 2px !important;
  --bookmark-inline-margin: 2px !important;
  --uc-bookmark-toolbar-padding-bottom: 2px;
  --bookmarks-toolbar-overlapping-browser-height: calc(var(--uc-bookmark-toolbar-padding-bottom) + 16px + (var(--bookmark-block-margin) + var(--bookmark-block-padding)) * 2) !important;
}

#PersonalToolbar {
  padding-bottom: var(--uc-bookmark-toolbar-padding-bottom) !important;
}

/* Bookmarks bar item sizing */
#personal-toolbar-empty-description,
#PersonalToolbar .toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin-block: var(--bookmark-block-margin) !important;
  margin-inline: var(--bookmark-inline-margin) !important;
  padding-block: var(--bookmark-block-padding) !important;
  padding-inline: var(--bookmark-inline-padding) !important;
  font-size: 12px !important;

  /* Adjust vertical label position on Windows */
  @media (-moz-platform: windows) {
    & .toolbarbutton-text {
      margin-block: -1px 0 !important;
    }
  }
}

#PersonalToolbar .toolbarbutton-1 {
  padding: 0 !important;
}

/* Bookmarks bar separators */
#PlacesToolbarItems > toolbarseparator {
  padding-inline: calc(3px - var(--bookmark-inline-margin)) !important;
  align-items: center !important;

  &::before {
    content: "";
    border-inline-start: 1px solid var(--toolbarseparator-color) !important;
    height: 16px !important;
    border-image: none !important;
  }

  /* Fractional scaling adjustments (150%, 175%, etc.) */
  @media (1dppx < resolution < 2dppx) {
    &::before {
      border-inline-start-width: 1.5px !important;
    }
  }
}

/* Left and Right padding of bookmarks bar */
#PersonalToolbar {
  padding-inline: calc(var(--toolbar-start-end-padding) - 2px) calc(var(--toolbar-start-end-padding) + 4px) !important;
}

/* Spacing between icon and label for bookmarks bar items */
#managed-bookmarks>.toolbarbutton-icon,
#bookmarks-toolbar-placeholder>.toolbarbutton-icon,
#PlacesToolbarItems>.bookmark-item>.toolbarbutton-icon[label]:not([label=""]),
#OtherBookmarks.bookmark-item[container]>.toolbarbutton-icon {
  margin-inline-end: 8px !important;
}

/* Sizing for bookmarks bar icons */
#PersonalToolbar .toolbarbutton-1>.toolbarbutton-icon {
  width: calc(2 * var(--bookmark-block-padding) + 16px) !important;
  height: calc(2 * var(--bookmark-block-padding) + 16px) !important;
  padding: var(--bookmark-block-padding) !important;
}

#TabsToolbar .toolbarbutton-1 {
  fill: transparent !important;
}
#root.root {--pinned-tabs-col: 3;}
#root.root {--tabs-pinned-width: calc( (96vw - (var(--tabs-margin)*var(--pinned-tabs-col))) / var(--pinned-tabs-col));}
#root.root {--tabs-pinned-height: 42px;}
#root.root {
  --tabs-indent: 18px;
  --tabs-inner-gap: 6px;
  --tabs-pinned-height: 42px;
  --tabs-pinned-width: 42px;
  --general-margin: 8px;
  --tabs-height: 32px;
  --history-item-padding-left: 6px;
  --history-item-margin: 5px;
  --history-item-border-radius: 8px;
  --tabs-close-btn-margin: 3px;
  --nav-btn-margin: 0px 5px;
  --nav-btn-width: 28px;
  --nav-btn-height: 28px;
  --nav-btn-len-margin: -1px;
  --ntb-padding: 0px !important;
  --ntb-btn-height: 28px;
  --tabs-lvl-opacity: 0.4;
  --tweak-general-padding: 4px;
  --active-el-bg: light-dark(rgb(100, 100, 100, 30%), rgb(180, 180, 180, 30%));
  --tabs-audio-btn-width: 16px;
  --tabs-activated-shadow: inset 0 0 0 1px
    light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.7));
  --tabs-normal-fg: light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  --tabs-activated-bg: light-dark(
    rgb(180, 180, 180, 0.4),
    rgb(255, 255, 255, 0.9)
  ) !important;
  --tabs-activated-fg: light-dark(black, black) !important;
  --ctx-menu-fg: light-dark(black, white);
  --ctx-menu-icon-opt-height: 30px;
  --ctx-menu-text-opt-inner-gap: 6px;
  --ctx-menu-padding: 4px;
  --ctx-menu-shadow: 0 0 0 1px light-dark(rgb(0, 0, 0), rgb(240, 240, 240)),
    0 1px 16px 0 rgba(0, 0, 0, 0.282);
}

/* Padding adjustments */
#root.root .PinnedTabsBar,
#root.root .ScrollBox .scrollable,
#root.root .top-horizontal-box {
  padding-top: 4px !important;
}

/* Hidden panels */
#hidden_panels_btn.nav-item .icon,
.hidden-panels-popup-layer,
.NavigationBar .hidden-panels-popup-content {
  transform: scaleY(-1);
}

.hidden-panels-popup-layer {
  margin-top: -15%;
  background: red !important;
  z-index: 900;
  border-radius: 8px !important;
}

.hidden-panels-popup-layer * {
  border-radius: 8px;
}
/* Main box */
#root.root .main-box {
  transition: opacity 100ms ease;
  padding: 0;
  opacity: 1;
}

/* Pinned Tabs */

#root.root .PinnedTabsBar {
  border-bottom:
    1px solid white,
    2px solid black;

  & .Tab {
    --tabs-color-layer-opacity: 0.4;
    margin-bottom: 4px !important;
    &:hover {
      --tabs-color-layer-opacity: 0.8;
    }
  }
}

/* Tabs */
.scrollable .Tab:first-child {
  margin-top: 10px !important;
}

.Tab[data-discarded="true"] .t-box {
  opacity: 0.7 !important;
}

.Tab:hover[data-discarded="true"] .t-box {
  opacity: 1 !important;
}

/* Tab colors */
.scrollable .Tab .color-layer {
  width: 32px !important;
  --tabs-color-layer-opacity: 0.5;
}

.scrollable .Tab[data-discarded="true"] .color-layer {
  width: 32px !important;
  --tabs-color-layer-opacity: 0.2 !important;
}

.scrollable .Tab[data-active="true"] .color-layer,
.scrollable .Tab:hover .color-layer {
  border-radius: 4px 0px 0px 4px !important;
  --tabs-color-layer-opacity: 0.8 !important;
}

.scrollable {
  & .t-box {
    padding: 0 3px !important;
  }

  & .Tab[data-colorized="true"] .t-box {
    padding: 0 6px !important;
  }
}

/* Grouped tabs */
.Tab .exp-icon {
  opacity: 1 !important;
}

#root.root .Tab .child-count {
  opacity: 1 !important;
}

#root.root .Tab[data-folded="true"] .fav {
  opacity: 0.8 !important;
}
#root.root .Tab[data-colorized="true"] .fav .img {
  width: 50px !important;
}

#root.root:not(:hover) .Tab .audio-icon {
  height: 12px !important;
}

/* New Tab button */
.new-tab-btns {
  background: transparent !important;
  padding: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

/* Search Bar */
#root.root #search_bar {
  order: 2;
  padding-left: 0px;
  padding-right: 6px;
}

/* Navigation box */
#root.root .top-horizontal-box {
  display: flex;
  order: 3 !important;
  margin: 0 auto -2px auto !important;
  padding-top: 10px;
  max-height: 140px;
  padding-bottom: 8px !important;
  overflow: hidden !important;
  & .main-items {
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
  }
}

.top-horizontal-box #nav_bar {
  background-color: transparent !important;
}

#root.root .top-horizontal-box {
  opacity: 1;
}

.left-vertical-box #nav_bar {
  background-color: transparent !important;
  padding: 12px 6px;
}

/* Misc */
.TabsPanel .bottom-space {
  background: transparent !important;
}

#root.root .top-horizontal-box .main-items {
  transition:
    height 100ms ease-in-out 0ms,
    width 100ms ease-in-out 0ms;
  overflow: hidden !important;
}

#root.root .top-horizontal-box .nav-item[data-class="space"] {
  display: block !important;
  min-width: 100% !important;
  height: 2px !important;
}

#root.root {
  padding: var(--tweak-general-padding);
  --general-margin: 3px;

  @media (min-width: 80px) and (max-width: 149px) {
    --pinned-tabs-col: 2;
    --tweak-general-padding: 4.5px;
  }

  @media (min-width: 150px) and (max-width: 239px) {
    --pinned-tabs-col: 3;

    /* when one tab in bottom row */
    .PinnedTabsBar .tab-wrapper:nth-child(3n-2):last-child {
      --tabs-pinned-width: calc((100vw) - (14px)) !important;
    }
  }

  @media (min-width: 240px) and (max-width: 349px) {
    --pinned-tabs-col: 4;
    /* when one tab in bottom row */
    .PinnedTabsBar .tab-wrapper:nth-child(4n-3):last-child {
      --tabs-pinned-width: calc((100vw) - (14px)) !important;
    }

    /* when one tab in bottom row */
  }

  @media (min-width: 350px) {
    --pinned-tabs-col: 6;
  }

  --tabs-pinned-width: calc(
    (
        (100vw) -
          (
            (var(--tabs-margin) * var(--pinned-tabs-col)) +
              var(--general-margin) + (2 * var(--tweak-general-padding))
          )
      ) / var(--pinned-tabs-col)
  );
}

@media (max-width: 160px) {
  #root.root {
    --tabs-pinned-height: 12px;
    --tabs-pinned-width: 12px;
    --tabs-indent: 0;
    --tabs-lvl-opacity: 0;
    width: 100vw;
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
  }

  #root.root .PinnedTabsBar .Tab {
    margin-right: 3px !important;
  }

  #root.root .Tab .audio {
    margin-left: -11px;
    margin-top: -7px;
  }
  .scrollable .Tab[data-colorized="true"] .color-layer {
    opacity: 0.3;
    transition: opacity 100ms linear !important;
  }

  #root.root .PinnedTabsBar,
  #root.root .PinnedTabsBar .Tab {
    background-color: transparent !important;
  }

  .PinnedTabsBar .Tab {
    opacity: 0.7 !important;

    &[data-pin="true"] {
      opacity: 1 !important;
      max-width: 32px !important;
      max-height: 32px !important;
    }
  }

  #root.root .PinnedTabsBar {
    max-height: 500px;
  }

  /* Tab colors */
  .scrollable .Tab .color-layer {
    width: 34px !important;
    --tabs-color-layer-opacity: 0.5;
  }

  .scrollable .Tab[data-discarded="true"] .color-layer {
    width: 32px !important;
    --tabs-color-layer-opacity: 0.2 !important;
  }

  .scrollable .Tab[data-active="true"] .color-layer,
  .scrollable .Tab:hover .color-layer {
    border-radius: 4px 4px 4px 4px !important;
    --tabs-color-layer-opacity: 0.8 !important;
  }

  .left-vertical-box,
  #root.root #search_bar,
  #root.root .new-tab-btns,
  .Tab .t-box,
  .PinnedTabsBar .color-layer,
  #root.root .top-horizontal-box .nav-item:not([data-class="panel"]),
  #root.root .nav-item[data-active="false"] {
    display: none !important;
  }

  #root.root .PinnedTabsBar,
  #root.root .PinnedTabsBar .Tab,
  #root.root .top-horizontal-box .main-items {
    /* transition: height 0ms ease-in-out 0ms, width 0ms ease-in-out 0ms !important; */
  }
}
